th {
    color: #2eca6a;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 2px solid black;
}

table {
    font-size: large;
}

iframe {
    border: #2eca6a solid 3px;
    padding: 10px;
}